/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

html {
  color: #2c3e50;
  /* font: 400 1em/1.4 'Open Sans', sans-serif; */
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  overflow: auto;
}

body {
  margin: 0;
  overflow: auto;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

#___gatsby {
  overflow: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

a {
  color: #3eaf7c;
  text-decoration: underline;
}

/* layout */

.header {
  height: 60px;
  border-bottom: 1px solid #eaecef;
}

.header ul {
  padding: 20px;
}

.header li {
  list-style: none;
  display: inline-block;
  padding: 0 12px;
}

.header li a {
  color: #2c3e50;
  text-decoration: none;
}

.footer {
  height: 60px;
}

.header,
.footer {
  flex: none; /* 2 */
  /* background-color: lightblue; */
}

.page-body {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  /* background-color: lightgreen; */
}

.content {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 2em;
}

.content ul {
  margin: 20px 0;
}

.content ul li {
  margin: 0 0 0 30px;
}

.content blockquote {
  padding: 30px;
  border-left: 7px solid #eaecef;
  margin: 0 0 1.45rem 0;
}

.content pre {
  margin-bottom: 1.45rem;
}

.content-body {
  margin: 0 auto;
  max-width: 740px;
}

.content-toolbar {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 740px;
}

.nav {
  /* padding: 2em; */
  padding-top: 2rem;
  order: 1;
  /* background-color: lightsalmon; */
  overflow-y: inherit;
  overflow-x: hidden;
  flex-grow: 1;
  border: 0;
  min-width: 18rem;
}

.nav li {
  list-style: none;
}

.nav li span {
  padding: .25rem 1rem .25rem 1.5rem;
  font-weight: 600;
  display: block;
}

.nav ul {
  margin-bottom: 15px;
}

.nav ul a {
  color: #2c3e50;
  padding: .25rem 1rem .25rem 1.25rem;
  border-left: .25rem solid transparent;
  display: inline-block;
  text-decoration: none;
  line-height: 1.4;
}

.nav ul a:hover {
  color: #3eaf7c;
}

.nav ul a.active {
  color: #3eaf7c;
  border-left: .25rem solid #3eaf7c;
  text-decoration: none;
}

@media (min-width: 768px) {
  html, body, #___gatsby {
    height: 100%;
    overflow-y: hidden;
  }

  .page-body {
    flex-direction: row;
  }
  .content {
    overflow-y: auto;
  }
  .nav, .ads {
    order: -1;
  }

  .nav {
    overflow-y: auto;
    border-right: 1px solid #eaecef;
  }
}
