*.DS_Store

.vs/
.idea/
*.user
*.suo
*.nupkg
*.project.lock.json
project.lock.json
npm-debug.log
yarn-error.log
bundle.js
fixie-results.xml
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

TestResults/
[Oo]bj/
[Bb]in/
packages/
node_modules/
nuget/lib
artifacts
*.tgz
doc-target
_NCrunch_*/
*.ncrunchproject
*.ncrunchsolution

bundle.js
style.css

*.received.txt
