<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Local" value=".\nugets\" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Local">
      <package pattern="GraphQL-Parser" />
    </packageSource>
  </packageSourceMapping>
  <bindingRedirects>
    <add key="skip" value="True" />
  </bindingRedirects>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
