<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4" version="4.5-alpha002" targetFramework="net45" userInstalled="true" />
  <package id="Antlr4.Runtime" version="4.5-alpha002" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" userInstalled="true" />
</packages>