name: Check formatting

on:
  pull_request:
    paths:
      - src/**
      - samples/**
      - .github/workflows/**
      - '*'

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
          source-url: https://nuget.pkg.github.com/graphql-dotnet/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Install dependencies
        working-directory: .
        run: dotnet restore
      - name: Check formatting
        working-directory: .
        run: |
          dotnet format --no-restore --verify-no-changes --severity error --exclude ./src/GraphQL/obj/**/*.cs || (echo "Run 'dotnet format' to fix issues" && exit 1)
