name: Test documentation

on:
  pull_request:
    branches:
      - master
      - develop
    paths:
      - docs2/**
      - package.json
      - yarn.lock
      - .github/workflows/**

env:
  NODE_VERSION: '18.x'   # Node 18 LTS, see https://nodejs.org/en/about/releases/

jobs:
  buildcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: yarn docs2
        working-directory: docs2
        run: yarn
      - name: yarn gatsby build
        working-directory: docs2
        run: yarn gatsby build
      - name: Upload docs as workflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Documentation
          path: docs2/public/**
          if-no-files-found: error
