name: Test documentation

on:
  pull_request:
    branches:
      - master
      - develop
    paths:
      - docs2/**
      - package.json
      - yarn.lock
      - .github/workflows/**

env:
  NODE_VERSION: '10.x'   # Node 10 LTS

jobs:
  buildcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3.5.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: yarn
        run: yarn
      - name: yarn docs2
        working-directory: docs2
        run: yarn
      - name: yarn gatsby build
        working-directory: docs2
        run: yarn gatsby build
